.additional-service {
  &__title {
    font-family: 'PT Sans Narrow', sans-serif, arial;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 35px;
  }
  &__list {
    list-style: none;
    padding: 0 0 55px 60px;
    font-family: 'PT Sans Narrow', sans-serif, arial;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin: 0;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &__checkbox-origin {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  &__label {
    position: relative;
  }
  &__checkmark {
    position: absolute;
    width: 36px;
    height: 36px;
    display: block;
    border: 1px solid #e5ddd5;
    background-color: #ffffff;
    top: -8px;
    left: -60px;
  }
  &__checkmark::after {
    content: "";
    left: 13px;
    top: 4px;
    width: 8px;
    height: 22px;
    border: solid black;
    border-width: 0px 4px 4px 0;
    transform: rotate(45deg);
    display: block;
    position: absolute;
    display: none;
  }
  &__checkbox-origin:checked ~ &__checkmark::after {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .additional-service {
    width: 640px;
    padding: 0;
    box-sizing: border-box;
    &__title {
      font-size: 30px;
      line-height: 30px;
      position: relative;
      margin-bottom: 70px;
    }
    &__title::after,
    &__title::before {
      content: "";
      position: absolute;
      width: 130px;
      height: 1px;
      background-color: #e5ddd5;
      display: block;
    }

    &__title::after {
      top: 14px;
      left: 0px;
    }

    &__title::before {
      top: 14px;
      right: 0px;
    }
    &__list {
      display: flex;
      flex-direction: column;
      height: 200px;
      box-sizing: border-box;
      flex-wrap: wrap;
      padding-bottom: 0;
      margin-bottom: 65px;
      justify-content: space-between;
    }
    &__item {
      width: 50%;
      margin-bottom: 35px;
      margin-right: 70px;
      font-size: 24px;
      line-height: 30px;
    }
    &__item:nth-child(3n) {
      margin-bottom: 0;
    }
    &__checkmark {
      top: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-service {
    width: 960px;
    &__list {
      height: 120px;
      justify-content: space-between;
    }
    &__item {
      width: 33%;
      margin-right: 50px;
    }
    &__item:nth-child(2n){
      margin-bottom: 0;
    }
    &__title::after,
    &__title::before {
      width: 280px;
    }

  }
}
