.beard-choose {
  &__title {
    font-family: 'PT Sans Narrow', sans-serif, arial;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 95px 0;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 20px;
    font-family: 'PT Sans Narrow', sans-serif, arial;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
  }
  &__item {
    width: 33.3%;
    text-align: center;
    .beard-choose__radio {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  }
  &__item:first-child {
    margin-bottom: 190px;
  }
  &__item:last-child {
    margin-bottom: 166px;
  }
  &__item:nth-child(3n) {
    margin-right: 0;
  }
  &__label {
    position: relative;
  }
  &__label::after {
    content: "";
    position: absolute;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  &__label--admiral::after {
    background-image: url(../../app/img/beard-admiral.svg);
    width: 52px;
    height: 49px;
    bottom: -60px;
    left: 2px;
  }
  &__label--lumberman::after {
    background-image: url(../../app/img/beard-lumberman.svg);
    width: 58px;
    height: 68px;
    bottom: -78px;
    left: -4px;
  }
  &__label--iceman::after {
    background-image: url(../../app/img/beard-iceman.svg);
    width: 63px;
    height: 68px;
    bottom: -78px;
    left: 5px;
  }
  &__label--boyar::after {
    background-image: url(../../app/img/beard-boyar.svg);
    width: 57px;
    height: 97px;
    bottom: -106px;
    left: -3px;
  }
  &__label--sage::after {
    background-image: url(../../app/img/beard-sage.svg);
    width: 45px;
    height: 104px;
    bottom: -114px;
    left: 1px;
  }
  &__checkmark {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: -60px;
    left: 0px;
    border: 1px solid #e6ded6;
  }
  &__checkmark::after {
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #e6ded6;
    display: block;
    position: absolute;
    top: 16px;
    left: 15px;
    display: none;
  }
  &__radio:checked ~ &__checkmark::after {
    display: block;
  }
}
