.discount-time {
  font-family: 'PT Sans Narrow', sans-serif, arial;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  display: flex;
  padding: 16px 20px 18px 20px;
  border: 1px solid #484848;
  color:#ffffff;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  &__img {
    margin-right: 35px;
  }
  &__hours {
    padding: 0;
    margin: 0;
    border: none;
    padding-top: 5px;
  }
}
