.logo {
  background-color: #242424;
  display: flex;
  padding-top: 25px;
  padding-bottom: 30px;
  cursor: pointer;
  width: 100%;

  &__image {
    margin: auto;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    height: 400px;
    margin: auto;
    padding: 0;
    background-image: url(../../app/img/back-tablet.jpg);
    background-position: center bottom;
    background-size: cover;

    &__image {
      margin-top: 39px;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo {
    background-image: url(../../app/img/back-desktop.jpg);
    height: 650px;
    &__image {
      margin-top: 57px;
    }
  }
}
