.price-list {
  background-color: #353535;
  padding: 70px 20px 20px 20px;
  position: relative;
  z-index: -1;

  &::after {
    content: "";
    background-color: inherit;
    width: 100%;
    height: 35px;
    bottom: -35px;
    left: 0;
    position: absolute;
    clip-path: polygon(50% 97%, 0 0, 100% 0);
  }

  &__table-tablet {
    display: none;
  }

}

@media (min-width:$tablet-width) {
  .price-list {
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;

    &__wrap {
      width: 84%;
      max-width: 980px;
      margin: auto;
    }

    &__table-tablet {
      display: table;
      margin-bottom: 10px;
    }

    &__table-mobile {
      display: none;
    }
  }
}

@media (min-width:$desktop-width) {
  .price-list {
    padding-bottom: 80px;
    &::after {
      display: none;
    }
    &__wrap {
      width: 960px;
      display: flex;
      justify-content: space-between;
    }
    &__table-tablet {
      width: 630px;
      display: block;
      margin-bottom: 0px;
      box-sizing: border-box;
    }
    &__discount {
      max-width: 270px;
      margin-top: 69.6px;
      display: flex;
      flex-direction: column;
    }
  }
}
