.reviews {
  padding: 30px 20px 40px 20px;
  position: relative;
  z-index: 1;
  background-color: #f8f5f2;

  &::after {
    content: "";
    background-color: inherit;
    width: 100%;
    height: 35px;
    bottom: -35px;
    left: 0;
    position: absolute;
    clip-path: polygon(50% 97%, 0 0, 100% 0);
  }

  &__title {
    font-family: 'PT Sans Narrow', sans-serif, arial;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 38px;
  }

  &__write-button {
    display: none;
  }

  &__item {
    margin: 0;
    padding: 0;
    display: none;
    justify-content: space-between;
  }

  &__item:nth-child(2) {
    display: flex;
  }

  &__author-picture {
    margin: 0;
    height: 50px;
  }

  &__text-wrap {
    min-width: 210px;
    padding-left: 20px;
    margin-top: -10px;
  }

  &__author-name {
    font-family: 'PT Sans Narrow', sans-serif, arial;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    font-style: normal;
    margin-bottom: 15px;
    display: block;
  }

  &__text {
    margin: 0;
    margin-bottom: 25px;
    font-family: 'PT Sans Narrow', sans-serif, arial;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  &__toggles {
    position: absolute;
    padding: 0;
    margin: 0;
    left: calc(50% - 42px);
    bottom: 10px;
  }

  &__author-image {
    border: 1px solid #eae3dc;
    max-width: none;
  }

  &__button-left,
  &__button-right {
    display: none;
  }
}


@media (min-width: $tablet-width) {
  .reviews {
    padding: 37px 65px 71px;
    &::after {
      display: none;
    }
    &__wrap {
      display: flex;
      justify-content: space-between;
      width: 84%;
      max-width: 960px;
      margin: auto;
      flex-wrap: wrap;
    }

    &__title {
      font-size: 40px;
      margin-top: 10px;
    }

    &__write-button {
      display: block;
      width: 25%;
      text-align: center;
      box-sizing: border-box;
      text-transform: uppercase;
      margin-bottom: 35px;
    }

    &__list {
      display: flex;
      width: 100%;
    }

    &__item {
      padding: 30px 20px;
      border: 1px solid #e5ddd5;
      width: 100%;
      border-left: none;
      border-right: none;
      height: 160px;
      box-sizing: border-box;
      width: 100%;
    }

    &__text {
      line-height: 27px;
      margin-bottom: 0;
    }

    &__author-image {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      min-width: 80px;
    }

    &__button-left,
    &__button-right {
      display: inline-block;
      width: 50px;
      height: 100%;
    }
    &__toggles {
      bottom: 65px;
      width: 130px;
      height: auto;
      background-color: #f8f5f2;
      text-align: center;
    }
  }
}


@media (min-width: $desktop-width) {
  .reviews {
    padding-bottom: 98px;
    &__wrap {
      width: 960px;
    }
    &__title {
        padding-left: 75px;
    }
    &__list {
      width: 100%;
    }
    &__item {
      width: 100%;
      margin-left: 20px;
      margin-right: 20px;
      border: 1px solid #e5ddd5;
      padding: 0;
      overflow: hidden;
      border: none;
    }
    &__text-wrap {
      padding: 30px 70px;
      border: 1px solid #e5ddd5;
      box-sizing: border-box;
      height: 100%;
      margin-top: 0;
    }
    &__toggles {
      bottom: 46px;
      width: auto;
    }
    &__author-image{
      width: 249px;
      height: 169px;
      border-radius: 0;
    }
  }
}
