.slider {
  &__toggle {
    background-color: transparent;
    border: 2px solid #959595;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    margin-right: 23px;
    padding: 0;
    cursor: pointer;
  }

  &__toggle:last-child {
    margin-right: 0;
  }

  &__toggle--current {
    background-color: #ffffff;
    border: 2px solid #ffffff;
  }
}

.slider--black {
  &__toggle--current {
    background-color: #353535;
    border: 2px solid #353535;
  }
}
