$tablet-width:768px;
$desktop-width:1200px;
$mobile-width-only: 767px;

@import "logo";
@import "main-nav";
@import "stats";
@import "advantages";
@import "slider";
@import "news";
@import "button";
@import "reviews";
@import "contacts";
@import "social";
@import "copyright";
@import "client-aria";
@import "sticker";
@import "type-of-service";
@import "our-portfolio";
@import "price-list";
@import "discount-time";
@import "booking-form";
@import "beard-choose";
@import "additional-service";
@import "page-footer";
@import "table-tablet";
@import "table-mobile";
@import "site-list";
@import "user-list";
@import "page-header";

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.js-show {
  display: block
}

.js-none {
  display: none;
}


.booking-main {
  position: relative;
  z-index: 2;
  background-color: #f8f5f2;

  &::after {
    content: "";
    background-image: url(../../build/img/trianglef8f5f2.svg);
    position: absolute;
    bottom: -35px;
    width: 100%;
    height: 35px;
    left: 0;
  }
}

@media (min-width:$tablet-width) {
  .booking-main {
    &::after {
      display: none;
    }
  }
}

.booking-header {
  background-color: #f8f5f2;
}


@media (min-width:$tablet-width) {
  .photo-header {
    &__logo {
      clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
      background-color: #f8f5f2;
      height: 210px;
      background-position: center -110px;
      background-size: auto;
    }
  }

  .photo-body {
    background-color: #f8f5f2;
  }

  .booking-form-body {
    background-color: #f8f5f2;
  }
}

@media (min-width:$desktop-width) {
  .photo-header {
    &__logo {
      height: 310px;
      background-image: url(../../build/img/back-desktop.jpg);

    }
  }
}


.main-photo {
  z-index: 2;
  position: relative;
}
